*.log
.DS_Store
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
!/.vscode/extensions.json
!/.vscode/settings.json
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/css
/public/fonts
/public/hot
/public/js
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/tmp
_ide_helper*
