includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    paths:
        - app/
        - resources/views
    tmpDir: tmp
    level: max
